<div>
    <h1>{{name}}</h1>
</div>
<hr>
<div>
    {{description}}
</div>
<div>
    {{#with history}}
          <div>{{year}}</div>
          <div>{{founder}}</div>
    {{/with}}
</div>
<br>
<h3>Types</h3>
<div>
    {{#each types}}
         <div>{{this}}</div>
    {{/each}}
</div>
<br>
<h3>Syntax</h3>
<div>
    {{#each syntax}}
         <div>{{this}}</div>
    {{/each}}
</div>
<br>
<h3>Features</h3>
<div>
    {{#each features}}
         <div>{{this}}</div>
    {{/each}}
</div>
<h3>Tools</h3>
<div>
    {{#each tools}}
         <div>{{this}}</div>
    {{/each}}
</div>
<h3>Community</h3>
<div>
    {{#each community}}
         <div>{{name}}</div>
         <div>{{type}}</div>
    {{/each}}
</div>